.App {
  text-align: center;
  background-color: #518f7a;
  padding: 50px;
}

.ChatApp{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.SideBar {
 height: 100%;
 width: 20%;
 border-right: 1px solid #ccc;
}

.ChatModule {
  background-color: wheat;
  height: 100%;
  width: 80%;
}

.ChatHeader {
  display: flex;
  padding-left: 25px;
  background: white;
  border: 1px solid #ccc;
}

.MessagesList {
  height: 80%;
  display: flex;
}

.MessageText {
  border-radius: 10px;
  padding: 2px 15px;
}

.MessageText--Left {
  background: rgb(100 149 237 / 50%);
}

.MessageText--Right {
  background: rgba(17, 241, 32, 0.5);
}